.get {
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"get__info get__title"
		"get__info get__code";

	&__info {
		grid-area: get__info;
	}

	&__title {
		grid-area: get__title;
	}

	&__code {
		grid-area: get__code;
	}
}

.get__info {
	@include flex;
	flex-direction: column;
	gap: 2em;
	padding-top: 6.1em;
	padding-left: 5.6em;
	padding-bottom: 4.4em;

	&-wrap {
		@include flex;
		justify-content: flex-start;
		max-width: 593px;
		align-items: center;
		gap: 1.4em;
	}

	&-img {
		@include flex;
		justify-content: center;
		width: 100%;
	}

	&-wrap:first-child {
		gap: 0.1em;
	}


	&-text {
		font-family: $primary-fonts;
		font-weight: 400;

		&-title {
			font-size: rem(16);
			line-height: rem(21);
			color: $subtitle-color;
			margin-bottom: 1em;
		}

		&-subtitle {
			font-size: rem(14);
			line-height: rem(21);
			color: $text-color;
		}
	}
}

.get__title {
	padding-top: 5.8em;

	&-info {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(48);
		line-height: rem(50);
		color: $title-color-text;
	}
}

.get__code {
	&-image {
		width: 100%;
		min-height: 519px;
	}
    &-image-mobile{
		display: none;
    }

}
@media (min-width:480px) and (max-width: 992px) {
    .get{
        justify-items: center;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			"get__title"
			"get__info"
			"get__code";

        &__info {
            grid-area: get__info;
            justify-self: start;
            padding-top: 3.2em;
		    padding-left: 1.8em;
		    padding-bottom: 4.6em;
        }

        &__title {
            grid-area: get__title;

            &-info {
                font-size: rem(42);
                line-height: rem(44);
            }
        }

        &__code {
            grid-area: get__code;
            justify-self: end;
        }
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .get{
        text-align: center;
        justify-items: center;
		align-items: center;
		grid-template-columns: 1fr;
		grid-template-areas:
			"get__title"
			"get__info"
			"get__code";

        &__info {
            justify-self: start;
            grid-area: get__info;
            padding-top: 2em;
	        padding-left: 0;
	        padding-bottom: 0;
            &-wrap {
                display: flex;
                flex-direction: column;
				&:first-child {
					gap: 2em;
				}
            }
            &-text {
                text-align: center;
            }
        }

        &__title {
            grid-area: get__title;
            text-align: center;

            &-info {
				margin: 0 rem(42);
                font-size: rem(32);
                line-height: rem(38);
            }
        }

        &__code {
            grid-area: get__code;
            justify-self: end;
            &-image {
                display: none;
            }
            &-image-mobile{
                display: block;
                width: 100%;
                padding-top: 2em;
            }
        }
    }
}