.header {
	position: relative;
	max-height: 800px;
	background-image: url("../img/header-section/header-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.fork {
	@include flex;
	justify-content: flex-end;
	padding-block: 1.9em;
}

.fork__logo {
	@include flex;
	gap: 1em;
	padding-right: 19.5em;

	&-title {
		font-family: $secondary-fonts;
		font-weight: 700;
		color: $title-color-text;
		text-transform: uppercase;
		font-size: rem(24);
		line-height: rem(16);
	}

	&-title:hover {
		color: #fff;
	}

	&-img {
		display: inline-block;
	}

}

.fork__logo:hover {
	filter: brightness(0) invert(1);
}

.fork__menu {
	margin-right: 4.2em;

	&-list {
		@include flex;
		gap: 3em;
	}

	&-link {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(16);
		line-height: rem(17);
		color: $title-color-text;
		text-transform: capitalize;
	}

	:hover {
		color: $title-color;
		transition: 0.1s;
	}
}


.fork__buy {
	&-link {
		display: inline-block;
		font-family: $primary-fonts;
		font-weight: 700;
		color: $title-color;
		font-size: rem(16);
		line-height: rem(17);
		text-transform: capitalize;
		text-align: center;
		padding-inline: 1.25em;
		padding-block: 0.6em;
		background-color: $title-color-text;
		border: 1px solid $title-color-text;
		border-radius: 2.5em;
	}

	:hover {
		background-color: $bg-white-color;
		color: $title-color-text;
		transition: 0.1s;
	}
}
@media (min-width:480px) and (max-width: 992px) {
    .fork{
        background: rgba(39, 38, 42, 1);
        		display: grid;
        		justify-content: center;
        		align-content: center;
        		justify-content: center;
                grid-template-areas:
        			"logo buy"
        			"menu menu";
        
        		grid-template-columns: repeat(2, 1fr);
        		
        
        		.fork__logo {
        			grid-area: logo;
        		}
        
        		.fork__buy {
        			grid-area: buy;
        		}
        
        		.fork__menu-list {
        			grid-area: menu;
        		}
        	}

        .fork__logo {
            padding-top: 22px;
		    padding-left: 1em;
            }

         .fork__menu {
            padding-left: 125px;
		    padding-bottom: 1.1em;
		    margin-left: 0;

            &-item {
                padding-top: 1.75em;
            }

            &-link {
            line-height: rem(16);
            }

            }
        
    }




.fork__info {
	margin-top: 5.1em;
	text-align: center;

	&-title {
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(82);
		color: $title-color;

        @media (min-width:320px) and (max-width: 480px) {
            font-size: rem(48);

        }


        @media (min-width:480px) and (max-width: 992px) {
            font-size: rem(72);
        }
        
    
	}

	&-subtitle {
		font-family: $secondary-fonts;
		font-weight: 400;
		font-size: rem(30);
		color: $title-color-text;
		margin-top: 1.1em;

        @media (min-width:320px) and (max-width: 480px) {
            font-size: rem(18);
            text-transform: capitalize;

        }


        @media (min-width:480px) and (max-width: 992px) {
            font-size: rem(24);
        }

	}

	&-text {
		display: inline-block;
		text-transform: uppercase;
		font-family: $primary-fonts;
		font-weight: 400;
		font-size: rem(16);
		color: $text-color;
		margin-top: 1.1em;
		margin-bottom: 28em;

        @media (min-width:320px) and (max-width: 480px) {
            font-size: rem(14);

        }


        @media (min-width:480px) and (max-width: 992px) {
            font-size: rem(14);
        }
	}
}

.fork__button {
	position: absolute;
	right: 50%;
	bottom: -2.5em;
	transform: translate(50%);

    @media (min-width:320px) and (max-width: 480px) {
        width: 100%;
	    bottom: -2.1em;

    }
    @media (min-width:480px) and (max-width: 992px) {
       width: 100%;
    }



	&-download {
		display: inline-block;
		font-family: $primary-fonts;
		font-weight: 700;
		font-size: rem(21);
		line-height: rem(22);
		text-transform: capitalize;
		color: $title-color;
		padding-block: 1.4em;
		padding-inline: 3.8em;
		border: 2px solid $title-color-text;
		border-radius: 40px;
		background: $title-color-text;

        @media (min-width:320px) and (max-width: 480px) {
            font-size: rem(18);
            line-height: rem(20);
            padding-block: 0.6em;
		    padding-inline: 1em;

        }


        @media (min-width:480px) and (max-width: 992px) {
            font-size: rem(18);
		    line-height: rem(20);
        }

	}

	:hover {
		background-color: $bg-white-color;
		color: $title-color-text;
		transition: 0.1s;
	}
}


//* burger
// .burger {
// 	@include flex;
// 	display: none;
// 	flex-direction: column;
// 	cursor: pointer;
// 	height: 37px;
// 	width: 44px;


// 	&__line {
// 		position: relative;
// 		width: 26px;
// 		height: 3px;
// 		background: $bg-white-color;
// 		border-radius: 4px;
// 		transition: all .5s ease-in-out;

// 		&:before {
// 			position: absolute;
// 			left: 11px;
// 			background: $bg-white-color;
// 			content: "";
// 			width: 15px;
// 			height: 3px;
// 			transition: all .5s ease-in-out;
// 		}

// 		&:after {
// 			position: absolute;
// 			background: $bg-white-color;
// 			content: "";
// 			width: 26px;
// 			height: 3px;
// 			transition: all .5s ease-in-out;
// 		}

// 		&:before {
// 			top: -4px;
// 		}

// 		&:after {
// 			top: 4px;
// 		}
// 	}
// }

// .fork__menu.active {
// 	opacity: 1;
// 	pointer-events: all;
// }

// .burger__line.close {
// 	background: transparent;

// 	&:before {
// 		transform: rotate(45deg) translate(4px, 4px);
// 	}

// 	&:after {
// 		transform: rotate(-45deg) translate(2px, -2px);
// 	}
// }













