.people-background {
    background-image: url("../img/people-section/talking-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.people__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.7em;
    padding-bottom: 1.8em;

    @media (min-width:320px) and (max-width: 480px)  {
        text-align: center;
    }

    @media (min-width:480px) and (max-width: 992px) {
        text-align: center;
    }


    &-title {
        font-family: $primary-fonts;
        font-weight: 700;
        font-size: rem(48);
        line-height: rem(50);
        color: $title-color;


        @media (min-width:320px) and (max-width: 480px) {
            text-align: center;
            font-size: rem(36);
            line-height: rem(48);
        }

        @media (min-width:480px) and (max-width: 992px) {
            text-align: center;
            font-size: rem(42);
            line-height: rem(44);

    }
}

    &-wrap {
        display: grid;
        grid-template-columns: repeat(3, 315px);
        align-items: baseline;
        row-gap: 7em;
        column-gap: 6.8em;
        margin-top: 5.1em;

        @media (min-width:320px) and (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 5.3em;
        }

        @media (min-width:480px) and (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 6em;
            row-gap: 5.3em;
        }


    }

    &-item {
        text-align: center;

        img {
            padding-bottom: 1.8em;
        }

        &-text {
            font-family: $secondary-fonts;
            font-weight: 700;
            font-style: italic;
            font-size: rem(16);
            line-height: rem(24);
            color: $secondary-text-color;
        }
    }

    &-footer {
        display: inline-block;
        font-family: $secondary-fonts;
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(21);
        color: #A291A5;
        max-width: 887px;
        margin-top: 7.2em;
        margin-bottom: 0.9em;
        text-align: center;

        &-line {
            background-color: #645766;
            height: 2px;
            width: 780px;
            border: none;

            @media (min-width:320px) and (max-width: 480px) {
                width: 245px;
                margin: 0 auto;
            }

            @media (min-width:480px) and (max-width: 992px) {
                width: 480px;
                margin: 0 auto;
                
            }
    
        }
    }
}
