.revolution__info {
	@include flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 4.3em;
	margin-top: 3em;
	background: $bg-white-color;

	&-trial {
		display: inline-block;
		font-family: $primary-fonts;
		font-weight: 400;
		font-size: rem(14);
		line-height: rem(15);
		color: $text-color;
		margin-bottom: 4.1em;
	}

	&-title {
		font-family: $primary-fonts;
		font-weight: bold;
		text-transform: uppercase;
		font-size: rem(54);
		color: #635C73;
		margin-bottom: 1em;
	}

	&-subtitle {
		text-align: center;
		font-family: $secondary-fonts;
		font-weight: 400;
		font-size: rem(21);
		line-height: rem(32);
		color: $subtitle-color;
		margin-bottom: 0.8em;
	}

	&-actions {
		@include flex;
		gap: 15px;
		font-family: $primary-fonts;
		font-weight: 700;

		&-wrap {
			@include flex;
			border: 2px solid #d5d5d5;
			border-radius: 3px;
			

			&-watch,
			&-star,
			&-fork {
				@include flex;
				background: linear-gradient(0deg, rgba(221, 222, 222, 0.8046568969384629) 0%, rgba(238, 238, 239, 0.49933476808692223) 46%, rgba(255, 255, 255, 1) 100%);
				padding-inline: 0.7em;
				padding-block: 0.5em;
				border-right: 2px solid #d5d5d5;

				&-icon {
					fill: #333333;
				}

				.fa-eye {
					color: #333333;
				}

				&-text {
					padding-left: .125em;
				}

				&-info {
					padding-inline: 0.7em;
					padding-block: 0.5em;
				}
			}

		}
	}
}
@media (min-width:480px) and (max-width: 992px) {
	.revolution__info {
		&-title {
			font-size: rem(42);
		}
	}
}

@media (min-width:320px) and (max-width: 480px) {
	.revolution__info {
		margin-bottom: 0;
		
		&-title {
			font-size: rem(26);
			text-align: center;
		}
		&-subtitle {
			font-size: rem(14);
			line-height: rem(20);
			
		}
		&-actions {
			flex-wrap: wrap;
			&-wrap {
				font-size: 14px;
				&:last-child{
					margin: 0px 35px;
				}
			}
		}
	}
}