@import "./helpers/reset";
@import "./helpers/variables";
@import "./helpers/mixins";

.container {
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-inline: 10px;
}


// @media((min-width: 320px) and (max-width:480px)){


// }

// @media((min-width: 481px) and (max-width:992px)){


// }

// @media((min-width: 993px) and (max-width:1200px)){


// }

@import "./sections/main.scss";
